body{
	font-family: 'Gabriela', serif;
	background-image: url('naranjas.png');
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 100px;
	color: #66332c;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;*/
}
input{
	text-decoration: none;
  outline: none;
  display: inline-block;
  width: auto;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
input:hover{
	background: peachpuff;
  box-shadow: 0 15px 20px peachpuff;
  transform: translateY(-7px);
}
 @media all and (max-width: 1200px){
	
}
@media all and (max-width: 900px){
	
	}
@media all and (max-width: 600px){

}

